/* Style pour la page serie.html */

.button {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 1.1rem;
  width: 19rem;
  height: 7rem;
  border: none;
  background-color: #7B3FFF;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown {
  width: 19rem;
  height: 7rem;
  background-color: #7B3FFF;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 2rem solid #7B3FFF;
}
.dropdown-options {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: #7B3FFF;
  color: #ffffff;
}

.footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  height: 10rem;
  padding: 1em;
  background: #7B3FFF;
  color: #000000;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 2.5rem;
}
@media only screen and (max-width: 1023px) {
  .footer {
    right: 5%;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    left: calc((100vw - 30rem) / 2);
    right: calc((100vw - 30rem) / 2);
    width: 30rem;
    height: 6rem;
    font-size: 2rem;
    border-radius: unset;
  }
}
.footer-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.footer-likes {
  margin-right: 0.5em;
}

.photograph-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease, border 0.3s ease;
  transition: border-color 0.3s ease;
  border: 0.3rem solid #292929;
  border-radius: 3rem;
  height: 30rem;
  padding: 3em;
  margin-bottom: 2em;
}
.photograph-header:hover {
  background-color: #171717;
  border-color: #767575;
}
@media only screen and (max-width: 1023px) {
  .photograph-header {
    flex-flow: column-reverse wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1em;
    height: 100%;
    width: 100%;
  }
}
.photograph-info {
  display: flex;
  flex-flow: column nowrap;
}
.photograph-name {
  color: #ffffff;
  font-weight: 400;
  font-size: 5rem;
}
.photograph-location {
  color: #7B3FFF;
  font-weight: 400;
  font-size: 3rem;
}
.photograph-tagline {
  color: #8a8a8a;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 1em;
}
.photograph-header:hover .photograph-tagline {
  color: #cfcfcf;
  transition: color 0.3s ease;
}
.photograph-img {
  height: 20rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}